<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yihexinda.dataservice.dao.TOrderRefundsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yihexinda.data.dto.TOrderRefundsDto">
        <id column="id" property="id" />
        <result column="refund_no" property="refundNo" />
        <result column="refund_amount" property="refundAmount" />
        <result column="refund_status" property="refundStatus" />
        <result column="remark" property="remark" />
        <result column="order_id" property="orderId" />
        <result column="create_date" property="createDate" />
        <result column="create_id" property="createId" />
        <result column="update_date" property="updateDate" />
        <result column="update_id" property="updateId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, refund_no,refund_amount, refund_status, remark, order_id, create_date, create_id, update_date, update_id
    </sql>

</mapper>
