<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yihexinda.dataservice.dao.TSysParamDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yihexinda.data.dto.TSysParamDto">
        <id column="id" property="id" />
        <result column="param_name" property="paramName" />
        <result column="param_value" property="paramValue" />
        <result column="param_desc" property="paramDesc" />
        <result column="create_date" property="createDate" />
        <result column="create_id" property="createId" />
        <result column="update_date" property="updateDate" />
        <result column="update_id" property="updateId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, param_name, param_value, param_desc, create_date, create_id, update_date, update_id
    </sql>

</mapper>
