<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yihexinda.dataservice.dao.TSysUserPermDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yihexinda.data.dto.TSysUserPermDto">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="fun_id" property="funId" />
        <result column="fun_type" property="funType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, fun_id, fun_type
    </sql>

</mapper>
