<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yihexinda.dataservice.dao.TSysMenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yihexinda.data.dto.TSysMenuDto">
        <result column="id" property="id" />
        <result column="fname" property="fname" />
        <result column="fnumber" property="fnumber" />
        <result column="parent_id" property="parentId" />
        <result column="furl" property="furl" />
        <result column="has_leaf" property="hasLeaf" />
        <result column="open_type" property="openType" />
        <result column="icon_cls" property="iconCls" />
        <result column="module_id" property="moduleId" />
        <result column="isdelete" property="isdelete" />
        <result column="flevel" property="flevel" />
        <result column="orderno" property="orderno" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, fname, fnumber, parent_id, furl, has_leaf, open_type, icon_cls, module_id, isdelete, flevel, orderno
    </sql>

</mapper>
